.scheme {
  background: url(../img/scheme/bg.png) 100% / cover no-repeat;
  &__wrapper {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }
  &__cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: number;
  }
  &__card {
    position: relative;
    padding: 4.8rem 3rem 3rem 10rem;
    background: linear-gradient(45deg, #041080 9%, #0926c0 100%);
    border-radius: 3rem;
    width: 41rem;
    min-height: max-content;
  }
  &__card:nth-child(4) {
    order: 6;
  }
  &__card:nth-child(5) {
    order: 5;
  }
  &__card:nth-child(6) {
    order: 4;
  }
  &__card::after {
    position: absolute;
    top: 5.5rem;
    left: 3rem;
    counter-increment: number;
    content: '0' counter(number);
    font-family: $third-family;
    font-weight: 700;
    font-size: 3.6rem;
    text-align: center;
    color: #969af7;
  }
  &__card-title {
    font-family: $third-family;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 139%;
    color: #fff;
  }
  &__card-description {
    font-family: $second-family;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 139%;
    color: #e3e3e3;
  }
  &__button {
    display: block;
    margin: 0 auto;
    margin-top: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30rem;
  }
}
