// Viewport
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;

// Fonts
$font-family: 'Poppins', sans-serif;
$second-family: 'FuturaBookC', sans-serif;
$third-family: 'FuturaFuturisC', sans-serif;
$font3: 'FuturaDemiC', sans-serif;
$font4: 'FuturaLightC', sans-serif;
$font5: 'Proxima Nova', sans-serif;

// Styles
$main-focus: 3px solid #fff;
